body {
    background-color:papayawhip;
    background-image: url("moon.jpg");
    scale: 10px;
    height: 2000px;
    background-position: center;
    background-size: cover;
}

/*changing paragraph element property values */
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    color:darkblue;
    text-align: center;
}
ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: cornflowerblue;
    list-style-type: georgian;
    margin: 0;
    padding: 0;
}